@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* css variable set */
    :root {
        --footer-bg-color: #F1F1FF;
        --placeholder-text-color: #707070;

        --gray1-color: #9C9C9C;
        --blue1-color: #222499;
    }

    /* global */
    html,
    body {
        width: 100%;
        min-height: 100dvh;
    }

    li,
    ol {
        list-style: none;
    }

    input {
        background-color: transparent;
        border: none;
        outline: none;
    }
}